######Druid数据源配置######
# JDBC配置
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/scaffold?serverTimezone=Asia/Shanghai
    username: root
    password: root
# 连接池配置
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 30

# logger Config
logging:
  level:
    debug

# mapper.xml 位置
mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
