<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nines.scaffold.sys.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.nines.scaffold.sys.entity.UserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, status, create_time, update_time
    </sql>

    <insert id="insertAllBatch" parameterType="java.util.List">
        insert into sys_user_role(
        id, user_id, role_id, create_time, update_time
        )
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id},
            #{item.userId},
            #{item.roleId},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>

    <update id="updateAllBatchById" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update sys_user_role
            <set>
                update_time=#{item.updateTime},
                status=#{item.status}
            </set>
            <where>
                id=#{item.id}
            </where>
        </foreach>
    </update>


</mapper>
